<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' />
	<link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
	<script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
	<script src="https://code.jquery.com/jquery3.4.1.min.js"></script>
	<script src="/javascripts/feed.js"></script>
	
	
  </head>
  <body>
	<a href='http://danu7.it.nuigalway.ie:8515/about'>About Us</a>
	<a href='http://danu7.it.nuigalway.ie:8515/'>Home</a>
	<a href='http://www.nuigalway.ie/it/'>NUIG IT</a>
	<a href='https://www.google.ie/'>Google</a>
	<a href='http://danu7.it.nuigalway.ie:8515/multiply'>Multiply</a>
	<a href='http://danu7.it.nuigalway.ie:8515/add'>Add</a>
	<a href='http://danu7.it.nuigalway.ie:8515/feed'>Feed</a>
    {{{body}}}
	<div class="container">
		<h1>Pets for me</h1>
		<div class="row show-grid">
			<div class="col-lg-4 col-med-6">
			<h1>Kittens</h1>
			Kittens cute blah blah blah
			</div>

			<div class="col-lg-4 col-md-6">
			<h1>Puppies</h1>
			Puppies are nice too blah blah blah
			</div>

			<div class="col-lg-4 col-md-6">
			<h1>Bunnies</h1>
			Bunnies class as well blah blah blah
			</div>
		</div>
	</div>
  </body>
</html>
